CONTAINER_DB_PORT=5000
HOST_DB_PORT=5000
DB_NAME=project_manager
DB_USER=user
DB_PASSWORD=password
DB_HOST=pgbouncer
DB_PORT=6432
DATABASE_URL=postgresql://user:password@pgbouncer:6432/mydb

CONTAINER_SERVER_PORT=8000
HOST_SERVER_PORT=8000

LOCAL=True